body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    background: #f8f8f8;
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
  }
  
  #videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .video {
    width: 300px;
  }
  